body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff6e5;
    color: #333;
}


.background {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* background: url("./icons-removebg-preview.png"); */
    background-repeat: repeat;
    opacity: 0.1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.logo-text span {
    color: #4b4b4b;
}

.logo-icon {
    font-size: 26px;
}

.nav-links {
    display: flex;
    gap: 32px;
    font-weight: 500;
    color: #4b4b4b;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links a.active {
    color: black;
    border-bottom: 4px solid #ff9900;
    padding-bottom: 4px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-icon,
.cart-icon {
    width: 24px;
    height: 24px;
    stroke: #333;
    fill: none;
    stroke-width: 2;
}

.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #ff9900;
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #ff9900;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background: #e68a00;
}

.catagory {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: #ffffff70;
    padding: 15px 0;
    text-decoration: none;
}

.box a {
    font-size: 20px;
    text-decoration: none;
    color: #442c07;
}

.items {

    /* width: 1000px; */
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
    margin: 73px 0 0 0;

}

.items .box {
    display: flex;
    gap: 80px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items .box .dishname .img-of-items {
    /* outline: 1px solid; */
    /* max-width: 260px; */
    height: 14rem;
    /* max-height: 270px; */
    display: flex;
    width: 23rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.items .box .dishname .img-of-items img {
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-weight: bolder;
}

.dishname{
    display: flex;
}